# Hypothesis Testing Exercises

Do your work for this exercise in a jupyter notebook named hypothesis_testing.ipynb.

For each of the following questions, formulate a null and alternative hypothesis (be as specific as you can be), then give an example of what a true positive, true negative, type I and type II errors would look like. Note that some of the questions are intentionally phrased in a vague way. It is your job to reword these as more precise questions that could be tested.

- Has the network latency gone up since we switched internet service providers?

H0 = Our latency has gone up since switching internet service providers

HA = Our latency has not gone up since switching internet service providers

- Is the website redesign any good?

H0 = The website redesign's new banners does not change difficulty in navigating between categories

HA = The website redesign's new banners make it easier to navigate between categories

True Positive = The websites new banners make it easier to navigate

True Negative = Websites diffuclty to navigate has not changed

Type 1 = There has been no difficulty change where there is a change

Type 2 = There has been no difficulty change where there is no change
- Is our television ad driving more sales?

H0 = The television ad does not affect sales

HA = The television ad increased sales

True Positive = The ad increased sales

True Negative = The ad did not affect sales

Type 1 = The ad caused sales go up, but they didn't

Type 2 = The ad caused no change in sales, but sales increased

#  T-Test Exercises

Continue working in your hypothesis_testing notebook.

- Ace Realty wants to determine whether the average time it takes to sell homes is different for its two offices. A sample of 40 sales from office #1 revealed a mean of 90 days and a standard deviation of 15 days. A sample of 50 sales from office #2 revealed a mean of 100 days and a standard deviation of 20 days. Use a .05 level of significance.

- Load the mpg dataset and use it to answer the following questions:

    - Is there a difference in fuel-efficiency in cars from 2008 vs 1999?
    - Are compact cars more fuel-efficient than the average car?
    - Do manual cars get better gas mileage than automatic cars?

In [1]:
from scipy import stats
import numpy as np
import pandas as pd
import seaborn as sns
alpha = 0.5

### Ace Realty
$H_{0}$: The time it takes to sell homes are the same

$H_{a}$: The time it takes to sell homes are different

In [2]:
ace1 = np.random.normal(90, 15, 40)
ace2 = np.random.normal(100, 20, 50)

In [3]:
ace1.var(), ace2.var()

(228.05538192493003, 417.37064446536647)

In [4]:
t, p = stats.ttest_ind(ace2, ace1, equal_var = False)
t, p/2, alpha

(2.3524481821513223, 0.010446360896281762, 0.5)

In [5]:
if (p/2 < alpha) & (t > 0):
    print("We reject the null hypothesis")
else:
    print("We fail to reject the null hypothesis")

We reject the null hypothesis

### MPG
- Is there a difference in fuel-efficiency in cars from 2008 vs 1999?
- Are compact cars more fuel-efficient than the average car?
- Do manual cars get better gas mileage than automatic cars?

In [9]:
from pydataset import data
mpg = data('mpg')

In [34]:
mpg

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,fuel_efficiency
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,32.5
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,35.5
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,35.5
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,36.0
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,29.0
...,...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize,33.0
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize,35.5
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize,29.0
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize,31.0
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize,30.0

### Fuel Efficiency:
$H_{0}$: There is not a difference in fuel effiency in cars from 2008 vs 1999

$H_{a}$: There is a difference in fuel efficiency in cars from 2008 vs 1999

In [11]:
mpg['fuel_efficiency'] = mpg.cty + mpg.hwy / 2

In [20]:
mpg_2008 = mpg[mpg.year == 2008].fuel_efficiency
mpg_1999 = mpg[mpg.year == 1999].fuel_efficiency

In [22]:
mpg_2008.var(), mpg_1999.var()

(47.87183171234894, 54.9290450928382)

In [24]:
t, p = stats.ttest_ind(mpg_1999, mpg_2008, equal_var = False)

t, p, alpha

(0.3236957615075299, 0.7464613597643072, 0.5)

In [25]:
if (p/2 < alpha) & (t > 0):
    print("We reject the null hypothesis")
else:
    print("We fail to reject the null hypothesis")

We reject the null hypothesis

### Compact vs Average
$H_{0}$: Are compact cars efficiency = average car

$H_{a}$: Are compact cars efficiency > average car

In [60]:
compact = mpg[mpg['class'] == 'compact'].fuel_efficiency
avg_car_fe = mpg.fuel_efficiency

In [64]:
t, p = stats.ttest_1samp(compact, avg_car_fe.mean())
t, p, alpha

(7.511409508514616, 1.5668658053166055e-09, 0.5)

In [65]:
if (p/2 < alpha) & (t > 0):
    print("We reject the null hypothesis")
else:
    print("We fail to reject the null hypothesis")

We reject the null hypothesis

### Do manual cars get better gas mileage than automatic cars?
$H_{0}$: Are manual cars efficiency = average car

$H_{a}$: Are manual cars efficiency > average car

In [79]:
manual = mpg[mpg.trans.str.startswith('m')].fuel_efficiency
automatic = mpg[mpg.trans.str.startswith('a')].fuel_efficiency

In [81]:
manual.var(), automatic.var()

(54.45625427204375, 43.387412216233834)

In [83]:
t, p = stats.ttest_ind(manual, automatic, equal_var = False)
t, p, alpha

(4.4872852093583395, 1.515980453823255e-05, 0.5)

In [84]:
if (p/2 < alpha) & (t > 0):
    print("We reject the null hypothesis")
else:
    print("We fail to reject the null hypothesis")

We reject the null hypothesis