In [1]:
import numpy as np
import pandas as pd

# Exercises

1. How likely is it that you roll doubles when rolling two dice?

2. If you flip 8 coins, what is the probability of getting exactly 3 heads? What is the probability of getting more than 3 heads?

3. There are approximitely 3 web development cohorts for every 1 data science cohort at Codeup. Assuming that Codeup randomly selects an alumni to put on a billboard, what are the odds that the two billboards I drive past both have data science students on them?

4. Codeup students buy, on average, 3 poptart packages with a standard deviation of 1.5 a day from the snack vending machine. If on monday the machine is restocked with 17 poptart packages, how likely is it that I will be able to buy some poptarts on Friday afternoon? (Remember, if you have mean and standard deviation, use the np.random.normal)

5. Compare Heights

- Men have an average height of 178 cm and standard deviation of 8cm.
- Women have a mean of 170, sd = 6cm.
- Since you have means and standard deviations, you can use np.random.normal to generate observations.
- If a man and woman are chosen at random, P(woman taller than man)?

6. When installing anaconda on a student's computer, there's a 1 in 250 chance that the download is corrupted and the installation fails. What are the odds that after having 50 students download anaconda, no one has an installation issue? 100 students?

What is the probability that we observe an installation issue within the first 150 students that download anaconda?

How likely is it that 450 students all download anaconda without an issue?

7. There's a 70% chance on any given day that there will be at least one food truck at Travis Park. However, you haven't seen a food truck there in 3 days. How unlikely is this?

8. How likely is it that a food truck will show up sometime this week?

9. If 23 people are in the same room, what are the odds that two of them share a birthday? What if it's 20 people? 40?

### 1. How likely is it that you roll doubles when rolling two dice?

In [2]:
die1 = np.random.choice([1, 2, 3, 4, 5 ,6], 10_000)
die2 = np.random.choice([1, 2, 3, 4, 5, 6], 10_000)

samesies = die1 == die2
samesies.mean()

0.1635

### 2. If you flip 8 coins, what is the probability of getting exactly 3 heads? What is the probability of getting more than 3 heads?

In [3]:
# Set up how many coin flip sims
n_coin_sim = n_rows = 10**5
# How many coins to flip per sim
n_coin_flipped = n_cols = 8

#create df for sim
flips = pd.DataFrame(np.random.choice([0, 1], n_rows*n_cols).reshape(n_rows,n_cols))
flips

       0  1  2  3  4  5  6  7
0      0  1  0  0  1  0  1  1
1      1  0  0  1  0  0  0  1
2      1  0  0  0  0  1  0  1
3      1  0  0  1  0  1  0  0
4      1  1  0  1  0  0  0  1
...   .. .. .. .. .. .. .. ..
99995  1  1  0  0  0  0  0  1
99996  0  0  0  1  1  1  1  1
99997  1  0  0  0  1  1  1  0
99998  1  1  0  0  1  1  1  1
99999  1  1  0  0  0  0  0  0

[100000 rows x 8 columns]

In [4]:
# create column totaling number of heads per row
flips['total_heads'] = flips.sum(axis=1)
flips

       0  1  2  3  4  5  6  7  total_heads
0      0  1  0  0  1  0  1  1            4
1      1  0  0  1  0  0  0  1            3
2      1  0  0  0  0  1  0  1            3
3      1  0  0  1  0  1  0  0            3
4      1  1  0  1  0  0  0  1            4
...   .. .. .. .. .. .. .. ..          ...
99995  1  1  0  0  0  0  0  1            3
99996  0  0  0  1  1  1  1  1            5
99997  1  0  0  0  1  1  1  0            4
99998  1  1  0  0  1  1  1  1            6
99999  1  1  0  0  0  0  0  0            2

[100000 rows x 9 columns]

In [5]:
# Probability of getting 3 heads in 8 flips
(flips.total_heads == 3).mean()

0.21844

In [165]:
# Probability of getting more than 3 heads in 8 flips
(flips.total_heads > 3).mean()

0.63515

### 3. There are approximitely 3 web development cohorts for every 1 data science cohort at Codeup. Assuming that Codeup randomly selects an alumni to put on a billboard, what are the odds that the two billboards I drive past both have data science students on them?

In [175]:
# Odds of data science from all cohorts
ds_to_cohorts = 1/4
# Number of chances
billboards = ncols = 2
# Number of sims
n_simulated_drives = nrows = 10**5
# Create array of simulations
drives = np.random.random((nrows, ncols))

In [176]:
# Create array of booleans where sim is a data science alumn
ds_billboard = drives < ds_to_cohorts
ds_billboard

array([[False,  True],
       [False, False],
       [False, False],
       ...,
       [False, False],
       [False, False],
       [False, False]])

In [177]:
# mean of data science students being on both billboards
(ds_billboard.sum(axis=1) == 2).mean()

0.06212

### 4. Codeup students buy, on average, 3 poptart packages with a standard deviation of 1.5 a day from the snack vending machine. If on monday the machine is restocked with 17 poptart packages, how likely is it that I will be able to buy some poptarts on Friday afternoon? (Remember, if you have mean and standard deviation, use the np.random.normal)

In [182]:
# create dataframe of 3 snacks a day with 1.5 std dev and 5 days in the week, sim'd 100k times
pop_tarts_sold = pd.DataFrame(np.random.normal(3,1.5, size = (100_000, 5)).astype(int))
(pop_tarts_sold.sum(axis=1) < 17).mean()

0.88238

### 5. Compare Heights

- Men have an average height of 178 cm and standard deviation of 8cm.
- Women have a mean of 170, sd = 6cm.
- Since you have means and standard deviations, you can use np.random.normal to generate observations.
- If a man and woman are chosen at random, P(woman taller than man)?

In [188]:
# array of random men's heights
men_height = np.random.normal(178, 8, size = 100_000)
# array of random women's heights
women_height = np.random.normal(170, 6, size = 100_000)
# dataframe of both heights together
heights = pd.DataFrame({'men_height':men_height, 'women_height':women_height})
heights

       men_height  women_height
0      177.606554    167.620293
1      185.819193    161.660646
2      170.798919    174.297359
3      180.491123    171.602425
4      173.180038    172.969585
...           ...           ...
99995  168.568859    170.176970
99996  175.863768    169.028459
99997  184.366118    163.141515
99998  174.161086    169.549000
99999  171.651573    168.390677

[100000 rows x 2 columns]

In [189]:
# probability of random woman being taller than random man
(heights.women_height > heights.men_height).mean()

0.21212

### 6. When installing anaconda on a student's computer, there's a 1 in 250 chance that the download is corrupted and the installation fails. What are the odds that after having 50 students download anaconda, no one has an installation issue? 100 students?

In [208]:
# corruption chance
corrupted_dl_chance = 1/250
# students in class
n_students = ncols = 50
# class sims
n_class_dl_sim = nrows = 10**6

# array of sims
dl_sim = np.random.random((nrows,ncols))
dl_sim

array([[0.19284776, 0.01141645, 0.80219334, ..., 0.13945952, 0.51899736,
        0.00700869],
       [0.29906106, 0.26355325, 0.74016054, ..., 0.70131786, 0.47643464,
        0.36855506],
       [0.99903839, 0.20079724, 0.60513225, ..., 0.04633079, 0.14911988,
        0.20709317],
       ...,
       [0.56658702, 0.81097625, 0.55243124, ..., 0.47709269, 0.40991623,
        0.02414106],
       [0.95891177, 0.45599697, 0.75131821, ..., 0.7106366 , 0.68463846,
        0.25331433],
       [0.12415917, 0.61359528, 0.28034646, ..., 0.10831675, 0.59716641,
        0.23164162]])

In [209]:
# array of booleans where corruption occurs
dl_sim_corrupted = dl_sim < corrupted_dl_chance
# mean where no corruption occurs
(dl_sim_corrupted.sum(axis = 1) == 0).mean()

0.81855

In [210]:
# Test with 100 students
n_students = nolss = 100
dl_sim = np.random.random((nrows,ncols))
dl_sim_corrupted = dl_sim < corrupted_dl_chance
(dl_sim_corrupted.sum(axis = 1) == 0).mean()

0.818003

###  What is the probability that we observe an installation issue within the first 150 students that download anaconda?

In [211]:
n_students = 150
dl_sim = np.random.random((nrows,ncols))
dl_sim_corrupted = dl_sim < corrupted_dl_chance
(dl_sim_corrupted.sum(axis = 1) >= 1).mean()

0.18167

### How likely is it that 450 students all download anaconda without an issue?

In [212]:
n_students = 450
dl_sim = np.random.random((nrows,ncols))
dl_sim_corrupted = dl_sim < corrupted_dl_chance
(dl_sim_corrupted.sum(axis = 1) == 0).mean()

0.818159

### 7. There's a 70% chance on any given day that there will be at least one food truck at Travis Park. However, you haven't seen a food truck there in 3 days. How unlikely is this?

In [200]:
# Chance of food truck arriving
gut_truck_chance = 0.7
# Days tested
days = ncols = 3
# Total simulations
n_truck_sim = nrows = 10**6

truck_sim = np.random.random((nrows,ncols))

array([[0.84380975, 0.3473504 , 0.18701892],
       [0.22963834, 0.56769984, 0.41634098],
       [0.16517158, 0.21489312, 0.91483996],
       ...,
       [0.42291382, 0.50412902, 0.37675266],
       [0.8704521 , 0.95817493, 0.51117989],
       [0.43080822, 0.04466992, 0.67119721]])

In [201]:
# create boolean array
truck_arrives = truck_sim >= gut_truck_chance
pd.DataFrame(truck_arrives)

            0      1      2
0        True  False  False
1       False  False  False
2       False  False   True
3        True  False  False
4        True  False   True
...       ...    ...    ...
999995  False  False   True
999996  False  False   True
999997  False  False  False
999998   True   True  False
999999  False  False  False

[1000000 rows x 3 columns]

In [202]:
# find probability of a truck not showing up all 3 days
(truck_arrives.sum(axis=1) == 0).mean()

0.34287

### How likely is it that a food truck will show up sometime this week?

In [204]:
# change 3 days to 7 days
days = ncols = 7

# copy code
n_truck_sim = nrows = 10**6
truck_sim = np.random.random((nrows,ncols))
truck_arrives = truck_sim >= gut_truck_chance
# probability that a truck will arive at least once in a week
(truck_arrives.sum(axis = 1) >= 1).mean()

0.916915

In [205]:
# remaining days of week test
days = ncols = 4

# copy code
n_truck_sim = nrows = 10**6
truck_sim = np.random.random((nrows,ncols))
truck_arrives = truck_sim >= gut_truck_chance
# probability that a truck will arive at least once in a week
(truck_arrives.sum(axis = 1) >= 1).mean()

0.760245

### 8. If 23 people are in the same room, what are the odds that two of them share a birthday? What if it's 20 people? 40?

In [216]:
day_chance = 1/365
people_in_room = ncols = 23
n_birthday_sim = nrows = 10**6

# birthday_sim = np.random.choice(range(0,365+1), size = (nrows,ncols))
birthday_sim = np.random.random((nrows,ncols))
shared_birthday = birthday_sim < day_chance
(shared_birthday.sum(axis = 1) >= 1).mean()

0.061076

In [22]:
people_in_room = ncols = 20
n_birthday_sim = nrows = 10**5

birthday_sim = np.random.random((nrows,ncols))
shared_birthday = birthday_sim < day_chance
(shared_birthday.sum(axis = 1) >= 1).mean()

0.05357

In [23]:
people_in_room = ncols = 40
n_birthday_sim = nrows = 10**5

birthday_sim = np.random.random((nrows,ncols))
shared_birthday = birthday_sim < day_chance
(shared_birthday.sum(axis = 1) >= 1).mean()

0.10309

### Bonus Wizard Duel
Imagine your wizard has 6d4 health points and you have spells that do 6d4 damage. "6d4" means rolling six 4-sided dice and summing the result.

Your opposing mage has 4d6 health points and spells that do 4d6. "4d6" means rolling four six-sided dice and summing the result.

Simulate mage duels to answer who is the more powerful mage?

Before running simulations, do you have a hypothesis of which mage will win? Do you have a hunch? Write it down. This is your first exercise.
- Simulate 10 mage duels. Is there a clear winner? Run that 10 duel simulation again. Was the answer similar?
- Do the results change much at 100 duels?
- Now, simulate 10,000 mage duels. Is there a clear winner?

I hypothesize my wizard will win

In [91]:
def wizard_duel(n_duels):
    my_wizard_health = np.random.choice([1,2,3,4], size = (n_duels, 6)).sum(1)
    my_wizard_damage = np.random.choice([1,2,3,4], size = (n_duels, 6)).sum(1)
    enemy_wizard_health = np.random.choice([1,2,3,4,5,6], size = (n_duels, 4)).sum(1)
    enemy_wizard_damage = np.random.choice([1,2,3,4,5,6], size = (n_duels, 4)).sum(1)
    wizard_duels = pd.DataFrame({'my_wizard_health':my_wizard_health, 'my_wizard_damage':my_wizard_damage, 'enemy_wizard_health':enemy_wizard_health, 'enemy_wizard_damage':enemy_wizard_damage})
    wizard_duels['i_win'] = wizard_duels.my_wizard_health - wizard_duels.enemy_wizard_damage > wizard_duels.enemy_wizard_health - wizard_duels.my_wizard_damage
    return wizard_duels.i_win.mean()

In [93]:
wizard_duel(10)

0.5

In [95]:
wizard_duel(10)

0.7

In [99]:
wizard_duel(100)

0.53

In [108]:
wizard_duel(10000)

0.6012

My wizard is the clear winner. I believe I have a higher oppurtunity to roll a larger number than the enemy, contributing to my victory

### Bonus Chuck-a-Luck
To play, the House says, "Pay 1, pick a number and roll 3 dice. If any of those dice come up, you'll win 1, 2, or 3".

>"It's even odds", they say, "because the probability of rolling your number is 1/6 and you get to roll 3 dice! 1/6 + 1/6 + 1/6 is 3/6 which is 1/2".
You know better than this, so it's time to make an experiment to approximate the actual risk and payoff...

Rules:

- The player pays 1 to play and picks a number.

- The House rolls 3 dice at once.

Payouts:

- 3 if all three dice match the chosen number
- 2 if exactly two dice match the chosen number
- 1 is exactly one of the dice matches the chosen number
If none of the dice match the player's chosen number, then the House keeps the 1.
Exercises:

What are your chances of getting an outcome payout of 2? (where we earned 3 on the 1 ante)

What are your chances of getting an payout of 1?

What are your chances of getting a payout of 0 where you ante 1 and win 1?

What are your chances of getting a payout of -1 where you ante up, but don't win anything?

What is the average cost/gain per game? (think of averaging the total payout calculation across all simulations)

Chart out a histogram of all the outcomes of those 1,000,000 games

Is this really a fair game of 1/6 + 1/6 + 1/6 odds?

If you play 1,000,000 games in a row, what are your winnings/losses?

In [154]:
n_trials = nrows = 1000000
n_dice = ncols = 3
number_choice = np.random.choice([1,2,3,4,5,6])
rolls = np.random.choice([1, 2, 3, 4, 5, 6], n_trials * n_dice).reshape(nrows, ncols)
roll_match = (rolls == number_choice).sum(1)

In [155]:
(roll_match==3).mean()

0.004601

In [156]:
(roll_match==2).mean()

0.069528

In [157]:
(roll_match==1).mean()

0.346947

In [158]:
(roll_match==0).mean()

0.578924

In [160]:
wins1 = roll_match == 1
wins2 = roll_match == 2
wins3 = roll_match == 3
win_rate1 = wins1.mean()
win_rate2 = wins2.mean()
win_rate3 = wins3.mean()
expected_winnings = win_rate1 * 0 + win_rate2 * 1 + win_rate3 * 2
cost = 1
expected_profit = expected_winnings - cost
expected_profit

-0.92127